.navbar-login
{
    width: 100%;
    padding: 2%;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

#menu{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #333;
    margin-top: 50px;
    padding: 20px;
}
#menu li a{
    color: #fff;
}
#menu li a:hover{
    color: #000;
}
.no-padding{
    padding-left:0;
    padding-right: 0;
}

.search{
    font-size: small;
}

.search-btn{
    background: #26A69A;
}

.input-group-btn{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}