<div *ngIf="showSidebar" class="column col-md-2  col-sm-2 col-xs-5 sidebar-offcanvas no-padding" id="sidebar">
    <ul class="nav" id="menu">
        <div class="row">
            <div class="col-lg-12 ">
                <li>
                    <i class="fa fa-list-alt"></i>
                    <span class="collapse in hidden-xs inline-block">
                    <div class="input-group">
                        <input type="text" placeholder="Search by Id/Name" class="search form-control" required
                               [(ngModel)]="search.value" (keyup.enter) = "searchAsset()" name="search" />
                        <div class="input-group-btn search-btn">
                            <button class="btn search-btn" (click) = "searchAsset()">
                                <span class="glyphicon glyphicon-search search-btn"></span>
                                <!--GO-->
                            </button>
                        </div>
                    </div>

                    </span>
                </li>
            </div>
        </div>

        <li><a routerLink="/admin/asset/add"><span class="collapse in hidden-xs">Add Hardware</span></a></li>
        <li><a routerLink="/admin/asset/assign"><span class="collapse in hidden-xs">Assign Existing Asset</span></a></li>
        <li><a routerLink="/admin/asset/list"><span class="collapse in hidden-xs">List All Assets</span></a></li>
        <li><a routerLink="/admin/new/emp"><span class="collapse in hidden-xs">New Employee</span></a></li>

    </ul>
</div>
<div class="col-md-10 col-sm-10 col-xs-7" style="margin-top: 5%">
    <router-outlet></router-outlet>
</div>
