<div *ngIf="showSidebar" style="height: 100%; overflow: hidden;" class="column col-md-2  col-sm-2 col-xs-3 sidebar-offcanvas no-padding" id="sidebar">
    <ul class="nav">
        <div class="row">
            <div class="col-lg-12 ">
                <li style="margin-top: 25%" >
                    <span class="inline-block">
                    <div class="input-group">
                        <input type="text" placeholder="Search by Id/Name" class="search form-control" required
                               [(ngModel)]="search.value" (keyup.enter) = "searchAsset()" name="search" />
                        <div class="input-group-btn search-btn">
                            <button class="btn search-btn" (click) = "searchAsset()">
                                <span class="glyphicon glyphicon-search search-btn"></span>
                            </button>
                        </div>
                    </div>

                    </span>
                </li>
            </div>
        </div>

        <li><a routerLink="/admin/new/emp"><span class="glyphicon glyph-sidebar glyphicon-user"></span>New Employee</a></li>
        <li class="submenu"><a routerLink="/admin/asset/add"><span class="glyphicon glyphicon-plus"></span>Add Hardware</a></li>
        <li class="submenu"><a routerLink="/admin/asset/assign"><span class="glyphicon glyphicon-ok"></span>Assign Existing Asset</a></li>
        <li class="submenu"><a routerLink="/admin/asset/list"><span class="glyphicon glyphicon-list-alt"></span>List Assigned Assets</a></li>
        <li class="submenu"><a routerLink="/admin/asset/list-new"><span class="glyphicon glyphicon-list-alt"></span>List New Assets</a></li>

    </ul>
</div>

<div *ngIf="showSidebar">
    <div class="col-md-10 col-sm-10 col-xs-9" style="margin-top: 6%">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!showSidebar">
    <div class="col-md-10 col-lg-offset-1" style="margin-top: 6%">
        <router-outlet></router-outlet>
    </div>
</div>
