<div class="column col-md-2  col-sm-2 col-xs-5 sidebar-offcanvas no-padding" id="sidebar">
    <ul class="nav" id="menu">
        <div class="row">
            <div class="col-lg-12 ">
                <li>
                    <i class="fa fa-list-alt"></i>
                    <span class="collapse in hidden-xs inline-block">
                    <input type="text" class="form-control" required  [(ngModel)]="search.value"
                        (keyup.enter) = "searchAsset()" name="search" placeholder="Search by id or Name">
                    <!--<button class="btn" (click)="searchAsset()">Search</button>-->
                    </span>
                </li>
            </div>
        </div>

        <li><a routerLink="/admin/asset/add"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Add Hardware</span></a></li>
        <li><a routerLink="/admin/asset/assign"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs">Assign Existing Asset</span></a></li>
        <li><a routerLink="/admin/asset/list"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">List All Assets</span></a></li>
        <li><a routerLink="/admin/new/emp"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">New Employee</span></a></li>

    </ul>
</div>
<div class="col-md-10 col-sm-10 col-xs-7" style="margin-top: 5%">
    <router-outlet></router-outlet>
</div>
