<!--<ym-header-shared></ym-header-shared>-->

<div class="container-fluid">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-body">
            <form (ngSubmit) = submit(asset) #assetForm = "ngForm">

                <div *ngIf="!isEdit" class="form-group">
                    Choose Hardware type
                    <select name="hardwareType" class="form-control" [(ngModel)]="asset.assetType" #hardwareType = "ngModel" required>
                        <option *ngFor="let hardware of hardwareTypes" [value]="hardware">{{hardware}}</option>
                    </select>
                </div>
                <div *ngIf="isEdit" class="form-group">
                    Choose Hardware type
                    <select name="hardwareType" class="form-control" [(ngModel)]="asset.assetType" #hardwareType = "ngModel" required disabled>
                        <option *ngFor="let hardware of hardwareTypes" [value]="hardware">{{hardware}}</option>
                    </select>
                </div>
                <div *ngIf= "asset.assetType">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="assetCodeAdd">Asset Code : </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="assetCode" id="assetCodeAdd" class="form-control" [(ngModel)] = "asset.assetCode" #assetCode="ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,9}$">
                            </div>
                            <div [hidden]="assetCode.valid || assetCode.pristine"
                                 class="alert alert-danger">
                                Asset Code is required (Max : 10 characters)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="serialNumber">Serial number : </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="serialNumber" id="serialNumber" class="form-control" [(ngModel)] = "asset.serialNumber" #serialNumber="ngModel" pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,19}$">
                            </div>
                            <div [hidden]="serialNumber.valid || serialNumber.pristine"
                                 class="alert alert-danger">
                                Serial Number is required (Max : 20 characters)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="model">Model : </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="model" id="model" class="form-control" [(ngModel)] = "asset.model" #model="ngModel" required pattern="[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,19}">
                            </div>
                            <div class="col-md-12" [hidden]="model.valid || model.pristine"
                                 class="alert alert-danger">
                                Model is required (Max : 20 characters)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Shipping Date : </label>
                            </div>
                            <div class="col-md-6">
                                <input readonly name="shippingDate" ng2-datetime-picker
                                       placeholder="Click to select date."
                                       class="form-control"
                                       date-format="YYYY-MM-DD"
                                       [(ngModel)]="asset.shippingDate"
                                       date-only="true"
                                       #shippingDate="ngModel"
                                       required
                                       pattern="^\d{4}[-\/\s]?((((0[13578])|(1[02]))[-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[-\/\s]?(([0-2][0-9])|(30)))|(02[-\/\s]?[0-2][0-9]))$"
                                />
                            </div>
                            <div [hidden]="shippingDate.valid || shippingDate.pristine"
                                 class="alert alert-danger">
                                Enter a valid date( YYYY-MM-DD)
                            </div>
                        </div>
                    </div>
<!--

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p>You can enter either Adapter code or Adapter S.No.,
                                leave either of them empty to get the option to add the other one.</p>
                        </div>
                    </div>
-->


                    <div *ngIf = "asset.assetType === 'Laptop' || asset.assetType === 'Monitor'">

                        <div *ngIf="asset.adapterCode === ''">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="adapterSerialNumber">Adapter S.No. : </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="adapterSerialNumber" id="adapterSerialNumber" class="form-control" [(ngModel)] = "asset.adapterSerialNumber" #adapterSerialNumber="ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,19}$">
                                    </div>
                                    <div [hidden]="adapterSerialNumber.valid || adapterSerialNumber.pristine"
                                         class="alert alert-danger">
                                        Adapter S.No. is required (Max : 20 characters)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="asset.adapterSerialNumber === ''">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="adapterCode">Adapter Code : </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="adapterCode" id="adapterCode" class="form-control" [(ngModel)] = "asset.adapterCode" #adapterCode="ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,19}$">
                                    </div>
                                    <div [hidden]="adapterCode.valid || adapterCode.pristine"
                                         class="alert alert-danger">
                                        Adapter Code is required (Max : 20 characters)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf = "asset.assetType === 'Laptop'">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Warranty End Date : </label>
                                </div>
                                <div class="col-md-6">
                                    <input name="warrantyEndDate" ng2-datetime-picker
                                           date-format="YYYY-MM-DD"
                                           class="form-control"
                                           [(ngModel)]="asset.warrantyEndDate"
                                           date-only="true"
                                           #warrantyEndDate="ngModel"
                                           required readonly
                                           pattern="^\d{4}[-\/\s]?((((0[13578])|(1[02]))[-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[-\/\s]?(([0-2][0-9])|(30)))|(02[-\/\s]?[0-2][0-9]))$"
                                    />
                                </div>
                                <div [hidden]="warrantyEndDate.valid || warrantyEndDate.pristine"
                                     class="alert alert-danger">
                                    warrantyEndDate Id is required
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Last Maintainance Date:</label>
                                </div>
                                <div class="col-md-6">
                                    <input name="lastMaintenanceDate" ng2-datetime-picker
                                           date-format="YYYY-MM-DD"
                                           class="form-control"
                                           [(ngModel)]="asset.lastMaintenanceDate"
                                           date-only="true" readonly
                                           pattern="^\d{4}[-\/\s]?((((0[13578])|(1[02]))[-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[-\/\s]?(([0-2][0-9])|(30)))|(02[-\/\s]?[0-2][0-9]))$"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Specs : </label>
                                </div>
                                <div class="col-md-3">
                                    <label for="ram">RAM : </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="ram" id="ram" class="form-control" [(ngModel)] = "asset.specs.RAM" #ram="ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,9}$">
                                </div>
                                <div [hidden]="ram.valid || ram.pristine"
                                     class="alert alert-danger">
                                    Ram is required (Max : 10 characters)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-3">
                                    <label for="hd">HD : </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="hd" id="hd" class="form-control" [(ngModel)] = "asset.specs.HD" #hd="ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,9}$">
                                </div>
                                <div [hidden]="hd.valid || hd.pristine"
                                     class="alert alert-danger">
                                    Hard disk is required (Max : 10 characters)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-3">
                                    <label for="processor">Processor : </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="processor" id="processor" class="form-control" [(ngModel)] = "asset.specs.Processor" #processor = "ngModel" required pattern="^[a-zA-Z0-9\-_](\s?[a-zA-Z0-9\-_]){0,24}$">
                                </div>
                                <div [hidden]="processor.valid || processor.pristine"
                                     class="alert alert-danger">
                                    Processor is required (Max : 25 characters)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <button (click)="goBack()" class="btn btn-warning pull-left">Back</button>
                        </div>

                        <div class="col-sm-4 col-sm-offset-4 form-group">
                            <button type="submit"  class="btn btn-default pull-right" [disabled] = "!assetForm.form.valid">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
