<div class="row" *ngIf="!isResult">
    <div class="col-sm-6 col-sm-offset-3">
        <img style="margin-top:30%;" class="img-responsive" [src]="noResultFound">
    </div>
</div>

<div *ngIf="isResult" class="row" style="padding-top: 70px;">

    <ag-grid-ng2 style="width: 90%; height: 70%; margin-left: 5%" #agGrid class="ag-material"
                 [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableSorting
                 enableFilter
                 rowHeight="50"
                 rowSelection="multiple">
    </ag-grid-ng2>

</div>