
<div *ngIf="newUserMessage" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{newUserMessage}}</strong>
</div>

<div *ngIf="!isResult">
    <img style="margin-top:7%; margin-left: 28%" [src]="noResultIcon">
    <img style="margin-top:-13%; margin-left: 43%" [src]="noResultFound">
</div>

<div *ngIf="isResult" style="padding-top: 70px;">

    <ag-grid-ng2 style="width: 80%; height: 70%; margin-left: 5%" #agGrid class="ag-material"
                 [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableSorting
                 enableFilter
                 rowHeight="50"
                 rowSelection="multiple">
    </ag-grid-ng2>

</div>