<div *ngIf="message" class="row">
    <div class="alert alert-success col-sm-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
    </div>
</div>

<div *ngIf="!isResult">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img style="margin-top:30%;" class="img-responsive" [src]="noResultFound">
        </div>
    </div>

</div>

<div *ngIf="adminMessage" style="margin-top:10%;" class="row">
    <div class="alert alert-success col-sm-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{adminMessage}}</strong>
    </div>
</div>

<div *ngIf="isResult" class="row" style="padding-top: 70px;">

    <ag-grid-ng2 style="width: 100%; height: 70%;" #agGrid class="ag-material"
                 [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableSorting
                 enableFilter
                 rowHeight="50"
                 rowSelection="multiple">
    </ag-grid-ng2>

</div>