<!--<ym-header-shared></ym-header-shared>-->

<div class="container">
    <div class="row" style="margin-top: 4%">
        <div class="col-lg-8 col-xs-12 col-lg-offset-2">
            <div class="panel panel-body">
                <div class="title">
                    Sign Up
                </div>
                <form (ngSubmit)="signup(user)" #signupForm="ngForm" class="form-horizontal">
                    <div class="form-group" style="margin-top: 15px">
                        <div class="col-sm-2 col-xs-5">
                            <label for="fName">First Name: </label>
                        </div>
                        <div class="col-sm-10 col-xs-7">
                            <input [(ngModel)]="user.firstName" class="form-control" id="fName"
                                   type="text" name="firstName" required #fName="ngModel" pattern="[A-z]{3,20}">
                            <div [hidden]="fName.valid || fName.pristine"
                                 class="alert alert-danger">
                                Enter a valid first name.(Range : 3-20 characters)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-xs-5   ">
                            <label for="mName">Middle Name: </label>
                        </div>
                        <div class="col-sm-4 col-xs-7">
                            <input [(ngModel)]="user.middleName" class="form-control" id="mName"
                                   type="text" name="middleName" #mName="ngModel" pattern="[A-z]{3,20}">
                            <div [hidden]="mName.valid || mName.pristine"
                                 class="alert alert-danger">
                                Enter a valid middle name.(Range : 3-20 characters)
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5">
                            <label for="lName">Last Name: </label>
                        </div>
                        <div class="col-sm-4 col-xs-7">

                            <input [(ngModel)]="user.lastName" class="form-control" id="lName"
                                   type="text" name="lastName" required #lName="ngModel" pattern="[A-z]{3,20}">
                            <div [hidden]="lName.valid || lName.pristine"
                                 class="alert alert-danger">
                                Enter a valid last name.(Range : 3-20 characters)
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-field">
                        <div class="col-sm-2 col-xs-5  ">
                            <label for="number">Phone no: </label>
                        </div>
                        <div class="col-sm-4 col-xs-7">
                            <input [(ngModel)]="user.number" class=" form-control" id="number"
                                   type="test" name="number" required #number="ngModel" pattern="[0-9]{10}">
                            <div [hidden]="number.valid || number.pristine"
                                 class="alert alert-danger">
                                Enter a valid phone number(10 digits)
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5  ">
                            <label for="gender">Gender: </label>
                        </div>
                        <div class="col-sm-4 col-xs-7">
                            <select [(ngModel)]="user.gender" class=" form-control" id="gender"
                                    type="text" name="gender" required #gender="ngModel">
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                            <div [hidden]="gender.valid || gender.pristine"
                                 class="alert alert-danger">
                                Gender is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-xs-5  ">
                            <label for="email">Email: </label>
                        </div>

                        <div class="col-sm-10 col-xs-7">
                            <input [(ngModel)]="user.email" class="  form-control" id="email" type="text" name="email"
                                   required #email="ngModel" pattern="^[a-zA-Z0-9.$%&’*+\/=?^_`{|}~-]+@knoldus.+(com|in)$">
                            <div [hidden]="email.valid || email.pristine"
                                 class="alert alert-danger">
                                Enter a valid knoldus email id
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-2 col-xs-5  ">
                            <label for="password">Password: </label>
                        </div>
                        <div class="col-sm-10 col-xs-7">
                            <input [(ngModel)]="user.password" class="  form-control" id="password"
                                   type="password" name="password" required #password="ngModel" pattern="[A-z0-9]{8,}">
                            <div [hidden]="password.valid || password.pristine"
                                 class="alert alert-danger">
                                Enter a valid password(must be greater than 8 characters)
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3 text-center ">
                        <button class="btn btn-warning" (click)="goBack()" type="button">Back</button>
                    </div>
                    <div class="col-xs-3 col-xs-offset-6" style="float: left">
                        <button class="btn waves-effect waves-light signup-btn" type="submit" name="action"
                                [disabled]="!signupForm.form.valid">Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
