<ym-header-shared></ym-header-shared>
<div class ="container" style="padding-top: 70px;">

   <!-- <form (ngSubmit)="onSubmit()" class="col-lg-2 col-sm-2">
        <div class="form-group">
            &lt;!&ndash;<label for="name">Name</label>&ndash;&gt;
            <input type="text" class="form-control" required  [(ngModel)]="search.value" name="search" placeholder="Search by id or Name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

        <button type="button" class="btn btn-default" (click)="listAllAssets()">List All Assets</button>
    </form>-->

   <!-- <div class="col-lg-2 col-sm-2">
        <button type="button" (click) = "addHardware()" class="btn btn-default"> Add New Asset </button>
    </div>-->

    <!--<div class="col-lg-2 col-sm-2">
        <button type="button" (click) = "goToAssignAsset()" class="btn btn-default"> Assign Existing Asset </button>
    </div>-->

    <!--<div class="col-lg-2 col-sm-2">
        <button type="button" class="btn btn-default"> List Hardware </button>
    </div>-->
    <div class="col-sm-4 col-lg-4">
        <img [src]= "fullpath">
    </div>
</div>
<div style="background-color: black">
</div>

    <!--<div class="form-group">-->
        <!--<label for="name">Name</label>-->
        <!--<input type="text" class="form-control" required-->
               <!--[(ngModel)]="model.name"-->
               <!--name="name"  #name="ngModel" >-->
        <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">-->
            <!--Name is required-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="alterEgo">Alter Ego</label>-->
        <!--<input type="text" class="form-control"-->
               <!--[(ngModel)]="model.alterEgo"-->
               <!--name="alterEgo" >-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="power">Hero Power</label>-->
        <!--<select class="form-control" required-->
                <!--[(ngModel)]="model.power"-->
                <!--name="power" #power="ngModel" >-->
            <!--<option *ngFor="let p of powers" [value]="p">{{p}}</option>-->
        <!--</select>-->
        <!--<div [hidden]="power.valid || power.pristine" class="alert alert-danger">-->
            <!--Power is required-->
        <!--</div>-->
    <!--</div>-->



    <!--&lt;!&ndash; NOT SHOWN IN DOCS &ndash;&gt;-->
    <!--<div>-->
        <!--<hr>-->
        <!--Name via form.controls = {{showFormControls(heroForm)}}-->
    <!--</div>-->
    <!-- - -->
