
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Your Manager</a>
        </div>
        <ul class="nav navbar-nav pull-right" *ngIf="show" >
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <!--<li><a (click)="logout()">logout</a></li>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong>{{user.firstName}}</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu" style="margin-left:-290%;">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left"><strong>{{user.firstName}}</strong></p>
                                    <p class="text-left small">{{user.email}}</p>
                                    <p class="text-left">
                                        <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--<li class="divider navbar-login-session-bg"></li>-->
                    <!--<li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>-->
                    <!--<li class="divider"></li>-->
                    <li><a (click)="logout()">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                </ul>
            </li>
            <!--</ul>-->
        </ul>

    </div>
</nav>

<!-- sidebar -->

<div *ngIf="show" class="column col-sm-2  col-xs-1 sidebar-offcanvas no-padding" id="sidebar">
    <ul class="nav" id="menu">
        <li><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs inline-block">
             <input type="text" class="form-control" required  [(ngModel)]="search.value" name="search" placeholder="Search by id or Name">
             <button class="btn" (click)="searchAsset()">Search</button>
        </span>
        </li>
        <li><a href="/asset/add"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Add Hardware</span></a></li>
        <li><a href="/asset/assign"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs">Assign Existing Asset</span></a></li>
        <li><a href="#"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">List All Assets</span></a></li>
       <!-- <li>
            <a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="google.com">View One</a></li>
                <li><a href="gmail.com">View Two</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-target="#item2" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse" id="item2">
                <li><a href="#">View One</a></li>
                <li><a href="#">View Two</a></li>
                <li><a href="#">View Three</a></li>
            </ul>
        </li>-->
        <!--<li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Link</span></a></li>-->
    </ul>
</div>
<!-- /sidebar -->