<!--<nav class="navbar navbar-inverse navbar-fixed-top" >-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">Your Manager</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav pull-right" >-->
            <!--<li> <a routerLink="/home" routerLinkActive="active">Home</a></li>-->
            <!--<li> <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>-->
            <!--<li><a (click)="logout()">logout</a></li>-->

        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<!--<ym-header-shared></ym-header-shared>-->
<div class="container" style="padding-top: 70px;">
    <div class="content">
                    <span> <h1>Welcome to Your manager Application...</h1>
                    <p>
                        This application is basically the assets management system. Which manages you're assets automatically.
                        Thanxx...
                    </p>
                    </span>
        <br />

    </div>


</div>

<div>
    <img style="width:100%; height:60%"  [src]= "fullpath">
</div>