<ym-header-shared></ym-header-shared>
<div class="container" >
    <div class="title">
        Login
    </div>
    <div class="panel panel-body login-panel">
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.email" class="input-box validate" id="email"
                       type="email">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.password" class="input-box validate" id="password"
                       type="password">
                <label for="password">Password</label>
            </div>
        </div>

        <span>{{errorMsg}}</span>

        <div class="row">
            <div class="col-sm-2">
            <button class="btn waves-effect waves-light signup-button" (click)="goToSignup()">Sign Up</button>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
                <button (click)="login()"
                        class="btn waves-effect waves-light login-button"
                        type="submit" name="action">Login</button>
            </div>
        </div>
    </div>
</div>

<!--<footer class="footer-basic-centered">-->

    <!--<p class="footer-company-motto">The company motto.</p>-->

    <!--<p class="footer-links">-->
        <!--<a href="#">Home</a>-->
        <!--·-->
        <!--<a href="#">Blog</a>-->
        <!--·-->
        <!--<a href="#">Pricing</a>-->
        <!--·-->
        <!--<a href="#">About</a>-->
        <!--·-->
        <!--<a href="#">Faq</a>-->
        <!--·-->
        <!--<a href="#">Contact</a>-->
    <!--</p>-->

    <!--<p class="footer-company-name">Knoldus Software LLP.. &copy; 2009</p>-->

<!--</footer>-->
