
<div class="container" >
    <div class="title">
        Login
    </div>
    <div class="panel-body login-panel">
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.email" class="input-box validate" id="email"
                       type="email">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.password" class="input-box validate" id="password"
                       type="password">
                <label for="password">Password</label>
            </div>
        </div>

        <span>{{errorMsg}}</span>
        <button (click)="login(user)"
                class="btn waves-effect waves-light login-button"
                type="submit" name="action">Login</button>
    </div>
</div>
